Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Werkzeug==3.0.3
psycopg2-binary==2.9.9
python-dotenv==1.0.1
Flask-Limiter==3.7.0
Flask-Talisman==1.1.0
gunicorn==22.0.0
APScheduler==3.10.4
requests==2.32.3
redis==5.0.4
qrcode==8.0
Pillow==11.1.0
Flask-WTF==1.2.1
